<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Hello World</h1>
<<<<<<< HEAD
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <p>97 Bowling Alley Lane, Boulder CO </p>
=======
>>>>>>> 7f78e26ccc0f21018495228bb225d15dd9adc762
    </body>
</html>
